:root {
  --main-bg-color: pink;
}

.keyword-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyword {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  min-width: 200px;
}
.trend {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  min-width: 100px;
  text-align: center;
}

.uses {
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 100px;
  text-align: center;
}
